/*
 * CSS3 less is a function snippet library to simply add the different CSS3 styles for different browsers.
 */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
